<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карточная Игра</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="container">
    <h1>Веб Карточная Игра</h1>

    <div class="controls">
        <button id="create-deck">Начать игру</button>
        <input type="file" id="load-deck" accept=".txt">
        <button id="save-deck">Сохранить Колоду</button>
    </div>

    <div class="action-buttons">
        <button id="draw-card">Выбросить карту</button>
        <button id="discard-card">Взять карту</button>
    </div>

    <div class="table-section">
        <h2>Стол</h2>
        <ul id="table-list"></ul>
    </div>

    <div class="hand-section">
        <h2>Ваша Рука</h2>
        <ul id="hand-list"></ul>
    </div>

    <div class="ai-hand-section">
        <h2>Рука ИИ</h2>
        <button id="toggle-ai-cards">Показать карты ИИ</button>
        <ul id="ai-hand-list"></ul>
    </div>
</div>

<script src="../static/scripts.js"></script>
</body>
</html>
